<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
	<f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
		<div class="captcha">
			<img src="{element.properties.captcha}" alt="Captcha image"/>
			<f:if condition="{element.properties.cacheIdentifier}">
				<a class="captcha__reload" href="#" data-reload-route="{f:uri.action(action:'refresh', controller:'Captcha',
					extensionName:'bwcaptcha', pluginName:'Pi1', pageType:3413,
					arguments:{cacheIdentifier:element.properties.cacheIdentifier})}" onclick="this.parentElement.classList.add('captcha--reloading'); fetch(this.getAttribute('data-reload-route')).then(response => response.json()).then(data => { this.previousElementSibling.setAttribute('src', data.captcha); this.parentElement.classList.remove('captcha--reloading'); }); return false;">
					<svg width="31" height="28" xmlns="http://www.w3.org/2000/svg">
						<g fill="#000" fill-rule="evenodd">
							<path d="M10 10.7 6.3 8.5a11 11 0 0 1 20 3l2.5-.8h.4v-.3A14 14 0 0 0 3.6 7L.3 5l1.8 8.3 8-2.6ZM31 23l-1.7-8-8 2.5 3.7 2.1a10.9 10.9 0 0 1-19.8-2.3l-2 .6-1 .3a13.9 13.9 0 0 0 17 9.3 14 14 0 0 0 8.4-6.4l3.4 2Z"/>
						</g>
					</svg>
				</a>
			</f:if>
		</div>
		<f:form.textfield property="{element.identifier}"
						  id="{element.uniqueIdentifier}"
						  value=""
						  class="{element.properties.elementClassAttribute} form-control"
						  errorClass="{element.properties.elementErrorClassAttribute}"
						  additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"/>
	</f:render>
</formvh:renderRenderable>
</html>

